<a href="https://colab.research.google.com/github/robonesky/oreilly/blob/main/RM%20Lab%20Notes%2010%20202301%20cohort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV, TimeSeriesSplit, cross_val_score

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import precision_recall_curve, roc_curve# , ROCCurveDisplay #, ConfusionMatrixDisplay
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, roc_auc_score, auc
from sklearn.metrics import classification_report, confusion_matrix

import warnings
warnings.filterwarnings ('ignore')

In [3]:
df = pd.read_csv('./spy.csv', index_col=0, parse_dates=True)

df.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
1996-05-08  63.671875  64.781250  63.078125  64.781250  41.272911  1694700
1996-05-09  64.562500  65.062500  64.500000  64.734375  41.243053   593400
1996-05-10  65.375000  65.593750  65.062500  65.375000  41.651173   925100
1996-05-13  65.531250  66.640625  65.468750  66.359375  42.278339   867500
1996-05-14  66.625000  66.937500  66.562500  66.765625  42.537167   632300