<a href="https://colab.research.google.com/github/robonesky/oreilly/blob/main/RM%20Lab%20Notes%2012%20202301%20cohort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pandas_ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas_ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas_ta) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas_ta) (1.16.0)
Building wheels for collected packages: pandas_ta
  Building wheel for pandas_ta (setup.py) ... done
  Created wheel for pandas_ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218908 sha256=5b29f54d9de8b395cc6d20463c33d7407272158c3ad7b166721cae7dc3ea5846
  Stored in directory: /root/.cache/pip/wheels/69/00/ac/f7fa862c34b0e2ef320175100c233377b4c558944f12474cf0
Successfully built pandas_ta
Installing collected packages: pandas_ta
Successfully installed pandas_ta-0.3.14b0

In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
import pandas_ta as ta

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (10, 6)
plt.style.use('fivethirtyeight')

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 1000)

np.random.seed(42)

dow = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')

dow

[                                                   0                                                  1
 0  Historical logarithmic graph of the DJIA from ...  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation  February 16, 1885; 138 years ago[1] May 26, 18...
 2                                           Operator                              S&P Dow Jones Indices
 3                                          Exchanges  .mw-parser-output .plainlist ol,.mw-parser-out...
 4                                     Trading symbol                                  ^DJI$INDU.DJIDJIA
 5                                       Constituents                                                 30
 6                                               Type                                          Large cap
 7                                         Market cap           US$10.9 trillion (as of May 31, 2023)[3]
 8                                   Weighting method                               Price-weighted index
 9                                            Website  us.spindices.com/indices/equity/dow-jones-indu...,
                      Company Exchange Symbol                        Industry  Date added                                  Notes Index weighting
 0                         3M     NYSE    MMM                    Conglomerate  1976-08-09  As Minnesota Mining and Manufacturing           2.41%
 1           American Express     NYSE    AXP              Financial services  1982-08-30                                    NaN           3.02%
 2                      Amgen   NASDAQ   AMGN               Biopharmaceutical  2020-08-31                                    NaN           5.48%
 3                      Apple   NASDAQ   AAPL          Information technology  2015-03-19                                    NaN           2.84%
 4                     Boeing     NYSE     BA           Aerospace and defense  1987-03-12                                    NaN           3.36%
 5                Caterpillar     NYSE    CAT         Construction and Mining  1991-05-06                                    NaN           4.52%
 6                    Chevron     NYSE    CVX              Petroleum industry  2008-02-19          Also 1930-07-18 to 1999-11-01           3.50%
 7                      Cisco   NASDAQ   CSCO          Information technology  2009-06-08                                    NaN           0.96%
 8                  Coca-Cola     NYSE     KO                  Drink industry  1987-03-12          Also 1932-05-26 to 1935-11-20           1.22%
 9                     Disney     NYSE    DIS  Broadcasting and entertainment  1991-05-06                                    NaN           1.89%
 10                       Dow     NYSE    DOW               Chemical industry  1991-05-06                                    NaN           0.98%
 11             Goldman Sachs     NYSE     GS              Financial services  2019-04-02                                    NaN           7.36%
 12                Home Depot     NYSE     HD                Home Improvement  1999-11-01                                    NaN           6.27%
 13                 Honeywell   NASDAQ    HON                    Conglomerate  2020-08-31             AlliedSignal and Honeywell           4.17%
 14                       IBM     NYSE    IBM          Information technology  1979-06-29          Also 1932-05-26 to 1939-03-04           2.86%
 15                     Intel   NASDAQ   INTC          Semiconductor industry  1999-11-01                                    NaN           0.57%
 16         Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry  1997-03-17                                    NaN           3.43%
 17            JPMorgan Chase     NYSE    JPM              Financial services  1991-05-06                                    NaN           2.61%
 18                McDonald's     NYSE    MCD                   Food industry  1985-10-30                                    NaN           5.24%
 19                     Merck     NYSE    MRK         Pharmaceutical industry  1979-06-29                                    NaN           2.10%
 20                 Microsoft   NASDAQ   MSFT          Information technology  1999-11-01                                    NaN           4.88%
 21                      Nike     NYSE    NKE               Clothing industry  2013-09-20                                    NaN           2.13%
 22          Procter & Gamble     NYSE     PG      Fast-moving consumer goods  1932-05-26                                    NaN           2.86%
 23                Salesforce     NYSE    CRM          Information technology  2020-08-31                                    NaN           2.82%
 24                 Travelers     NYSE    TRV                       Insurance  2009-06-08                                    NaN           3.62%
 25        UnitedHealth Group     NYSE    UNH             Managed health care  2012-09-24                                    NaN          10.29%
 26                   Verizon     NYSE     VZ     Telecommunications industry  2004-04-08                                    NaN           0.73%
 27                      Visa     NYSE      V              Financial services  2013-09-20                                    NaN           4.16%
 28  Walgreens Boots Alliance   NASDAQ    WBA                       Retailing  2018-06-26                                    NaN           0.79%
 29                   Walmart     NYSE    WMT                       Retailing  1997-03-17                                    NaN           2.94%,
      Year  Closing Value Net Change % Change
 0    1896          40.45      −0.49    −1.20
 1    1897          49.41      +8.96   +22.15
 2    1898          60.52     +11.11   +22.49
 3    1899          66.08      +5.56    +9.19
 4    1900          70.71      +4.63    +7.01
 5    1901          64.56      −6.15    −8.70
 6    1902          64.29      −0.27    −0.42
 7    1903          49.11     −15.18   −23.61
 8    1904          69.61     +20.50   +41.74
 9    1905          96.20     +26.59   +38.20
 10   1906          94.35      −1.85    −1.92
 11   1907          58.75     −35.60   −37.73
 12   1908          86.15     +27.40   +46.64
 13   1909          99.05     +12.90   +14.97
 14   1910          81.36     −17.69   −17.86
 15   1911          81.68      +0.32    +0.39
 16   1912          87.87      +6.19    +7.58
 17   1913          78.78      −9.09   −10.34
 18   1914          54.58     −24.20   −30.72
 19   1915          99.15     +44.57   +81.66
 20   1916          95.00      −4.15    −4.19
 21   1917          74.38     −20.62   −21.71
 22   1918          82.20      +7.82   +10.51
 23   1919         107.23     +25.03   +30.45
 24   1920          71.95     −35.28   −32.90
 25   1921          81.10      +9.15   +12.72
 26   1922          98.73     +17.63   +21.74
 27   1923          95.52      −3.21    −3.25
 28   1924         120.51     +24.99   +26.16
 29   1925         156.66     +36.15   +30.00
 30   1926         157.20      +0.54    +0.34
 31   1927         202.40     +45.20   +28.75
 32   1928         300.00     +97.60   +48.22
 33   1929         248.48     −51.52   −17.17
 34   1930         164.58     −83.90   −33.77
 35   1931          77.90     −86.68   −52.67
 36   1932          59.93     −17.97   −23.07
 37   1933          99.90     +39.97   +66.69
 38   1934         104.04      +4.14    +4.14
 39   1935         144.13     +40.09   +38.53
 40   1936         179.90     +35.77   +24.82
 41   1937         120.85     −59.05   −32.82
 42   1938         154.76     +33.91   +28.06
 43   1939         150.24      −4.52    −2.92
 44   1940         131.13     −19.11   −12.72
 45   1941         110.96     −20.17   −15.38
 46   1942         119.40      +8.44    +7.61
 47   1943         135.89     +16.49   +13.81
 48   1944         152.32     +16.43   +12.09
 49   1945         192.91     +40.59   +26.65
 50   1946         177.20     −15.71    −8.14
 51   1947         181.16      +3.96    +2.23
 52   1948         177.30      −3.86    −2.13
 53   1949         200.13     +22.83   +12.88
 54   1950         235.41     +35.28   +17.63
 55   1951         269.23     +33.82   +14.37
 56   1952         291.90     +22.67    +8.42
 57   1953         280.90     −11.00    −3.77
 58   1954         404.39    +123.49   +43.96
 59   1955         488.40     +84.01   +20.77
 60   1956         499.47     +11.07    +2.27
 61   1957         435.69     −63.78   −12.77
 62   1958         583.65    +147.96   +33.96
 63   1959         679.36     +95.71   +16.40
 64   1960         615.89     −63.47    −9.34
 65   1961         731.14    +115.25   +18.71
 66   1962         652.10     −79.04   −10.81
 67   1963         762.95    +110.85   +17.00
 68   1964         874.13    +111.18   +14.57
 69   1965         969.26     +95.13   +10.88
 70   1966         785.69    −183.57   −18.94
 71   1967         905.11    +119.42   +15.20
 72   1968         943.75     +38.64    +4.27
 73   1969         800.36    −143.39   −15.19
 74   1970         838.92     +38.56    +4.82
 75   1971         890.20     +51.28    +6.11
 76   1972        1020.02    +129.82   +14.58
 77   1973         850.86    −169.16   −16.58
 78   1974         616.24    −234.62   −27.57
 79   1975         852.41    +236.17   +38.32
 80   1976        1004.65    +152.24   +17.86
 81   1977         831.17    −173.48   −17.27
 82   1978         805.01     −26.16    −3.15
 83   1979         838.74     +33.73    +4.19
 84   1980         963.99    +125.25   +14.93
 85   1981         875.00     −88.99    −9.23
 86   1982        1046.54    +171.54   +19.60
 87   1983        1258.64    +212.10   +20.27
 88   1984        1211.57     −47.07    −3.74
 89   1985        1546.67    +335.10   +27.66
 90   1986        1895.95    +349.28   +22.58
 91   1987        1938.83     +42.88    +2.26
 92   1988        2168.57    +229.74   +11.85
 93   1989        2753.20    +584.63   +26.96
 94   1990        2633.66    −119.54    −4.34
 95   1991        3168.83    +535.17   +20.32
 96   1992        3301.11    +132.28    +4.17
 97   1993        3754.09    +452.98   +13.72
 98   1994        3834.44     +80.35    +2.14
 99   1995        5117.12   +1282.68   +33.45
 100  1996        6448.26   +1331.14   +26.01
 101  1997        7908.24   +1459.98   +22.64
 102  1998        9181.43   +1273.19   +16.10
 103  1999       11497.12   +2315.69   +25.22
 104  2000       10786.85    −710.27    −6.18
 105  2001       10021.50    −765.35    −7.10
 106  2002        8341.63  −1,679.87   −16.76
 107  2003       10453.92   +2112.29   +25.32
 108  2004       10783.01    +329.09    +3.15
 109  2005       10717.50     −65.51    −0.61
 110  2006       12463.15   +1745.65   +16.29
 111  2007       13264.82    +801.67    +6.43
 112  2008        8776.39  −4,488.43   −33.84
 113  2009       10428.05   +1651.66   +18.82
 114  2010       11577.51   +1149.46   +11.02
 115  2011       12217.56    +640.05    +5.53
 116  2012       13104.14    +886.58    +7.26
 117  2013       16576.66   +3472.52   +26.50
 118  2014       17823.07   +1246.41    +7.52
 119  2015       17425.03    −398.04    −2.23
 120  2016       19762.60   +2337.57   +13.42
 121  2017       24719.22   +4956.62   +25.08
 122  2018       23327.46  −1,391.76    −5.63
 123  2019       28538.44   +5210.98   +22.34
 124  2020       30606.48   +2068.04    +7.25
 125  2021       36338.30   +5731.82   +18.73
 126  2022       33147.25  −3,191.05    −8.78,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average  \
 0  3M American Express Amgen Apple Boeing Caterpi...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average.1
 0  3M American Express Amgen Apple Boeing Caterpi...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ,
   vteMajor North and South American stock market indices vteMajor North and South American stock market indices.1
 0                                      United States      Dow Jones Industrial Average Dow Jones Transpo...
 1                                             Canada                     S&P/TSX 60 S&P/TSX Composite Index
 2                                             Mexico                       Indice de Precios y Cotizaciones
 3                                           Colombia      COLCAP Indice General de la Bolsa de Valores d...
 4                                             Brazil                                         Índice Bovespa
 5                                              Chile                 Índice de Precio Selectivo de Acciones
 6                                          Argentina                                                 MERVAL
 7                                               Peru                             S&P/BVL Peru General Index      ,
                                          vteNews Corp                                     vteNews Corp.1  Unnamed: 2
 0                     Sister company: Fox Corporation                    Sister company: Fox Corporation         NaN
 1   vteDow Jones & CompanyNational consumer produc...  vteDow Jones & CompanyNational consumer produc...         NaN
 2                              vteDow Jones & Company                             vteDow Jones & Company         NaN
 3                          National consumer products  Barron's Financial News Investor's Business Da...         NaN
 4                                 Enterprise products               Factiva S&P Dow Jones Indices (2.6%)         NaN
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...  vteHarperCollinsUnited States Avon Caedmon Ecc...         NaN
 6                                    vteHarperCollins                                   vteHarperCollins         NaN
 7                                       United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...         NaN
 8                                      United Kingdom  William Collins, Sons Collins Bartholomew The ...         NaN
 9                                           Australia                                  Angus & Robertson         NaN
 10                                          Christian  BibleGateway.com Thomas Nelson Women of Faith ...         NaN
 11                                             Canada           Harlequin Enterprises Love Inspired Mira         NaN
 12  vteNews Corp AustraliaNewspapersMetropolitan T...  vteNews Corp AustraliaNewspapersMetropolitan T...         NaN
 13                             vteNews Corp Australia                             vteNews Corp Australia         NaN
 14                                         Newspapers  Metropolitan The Australian Daily Telegraph (S...         NaN
 15                                       Metropolitan  The Australian Daily Telegraph (Sydney) Sunday...         NaN
 16                                           Regional  Queensland Balonne Beacon Bowen Independent Th...         NaN
 17                                         Queensland  Balonne Beacon Bowen Independent The Cairns Po...         NaN
 18                                              Other  The Coffs Coast Advocate The Daily Examiner Ge...         NaN
 19  vteNews Corp Australia community newspapersNew...  vteNews Corp Australia community newspapersNew...         NaN
 20        vteNews Corp Australia community newspapers        vteNews Corp Australia community newspapers         NaN
 21                                    NewsLocal (NSW)  Manly Daily North Shore Times Northern Distric...         NaN
 22                                     Messenger (SA)  News Review Leader Standard Eastern Courier Ea...         NaN
 23                                        Quest (Qld)                      South-West News Southern Star         NaN
 24                                           Victoria                        Leader Community Newspapers         NaN
 25                                         Television  vteSky News AustraliaChannelsActive Sky News L...         NaN
 26                              vteSky News Australia                              vteSky News Australia         NaN
 27                                           Channels  Active Sky News Live Sky News Extra Sky News W...         NaN
 28                                             Active  Sky News Live Sky News Extra Sky News Weather ...         NaN
 29                                            Defunct  Sky News Business Channel Sky News Election Ch...         NaN
 30                                         Presenters  Current Kieran Gilbert Ashleigh Gillon Vanessa...         NaN
 31                                            Current  Kieran Gilbert Ashleigh Gillon Vanessa Grimm S...         NaN
 32                                             Former  Samantha Armytage Helen Dalley Georgie Gardner...         NaN
 33                                        Programming  vteSky News Australia programmingCurrentDaytim...         NaN
 34                  vteSky News Australia programming                  vteSky News Australia programming         NaN
 35                                            Current  Daytime Agenda First Edition Weekend Outsiders...         NaN
 36                                            Daytime             Agenda First Edition Weekend Outsiders         NaN
 37                                          Primetime           Credlin Paul Murray Live The Bolt Report         NaN
 38                                             Former  Daytime Keneally and Cameron PVO NewsDay Pyne ...         NaN

In [4]:
# the components table is the 2nd table:

dow[1]

                     Company Exchange Symbol                        Industry  Date added                                  Notes Index weighting
0                         3M     NYSE    MMM                    Conglomerate  1976-08-09  As Minnesota Mining and Manufacturing           2.41%
1           American Express     NYSE    AXP              Financial services  1982-08-30                                    NaN           3.02%
2                      Amgen   NASDAQ   AMGN               Biopharmaceutical  2020-08-31                                    NaN           5.48%
3                      Apple   NASDAQ   AAPL          Information technology  2015-03-19                                    NaN           2.84%
4                     Boeing     NYSE     BA           Aerospace and defense  1987-03-12                                    NaN           3.36%
5                Caterpillar     NYSE    CAT         Construction and Mining  1991-05-06                                    NaN           4.52%
6                    Chevron     NYSE    CVX              Petroleum industry  2008-02-19          Also 1930-07-18 to 1999-11-01           3.50%
7                      Cisco   NASDAQ   CSCO          Information technology  2009-06-08                                    NaN           0.96%
8                  Coca-Cola     NYSE     KO                  Drink industry  1987-03-12          Also 1932-05-26 to 1935-11-20           1.22%
9                     Disney     NYSE    DIS  Broadcasting and entertainment  1991-05-06                                    NaN           1.89%
10                       Dow     NYSE    DOW               Chemical industry  1991-05-06                                    NaN           0.98%
11             Goldman Sachs     NYSE     GS              Financial services  2019-04-02                                    NaN           7.36%
12                Home Depot     NYSE     HD                Home Improvement  1999-11-01                                    NaN           6.27%
13                 Honeywell   NASDAQ    HON                    Conglomerate  2020-08-31             AlliedSignal and Honeywell           4.17%
14                       IBM     NYSE    IBM          Information technology  1979-06-29          Also 1932-05-26 to 1939-03-04           2.86%
15                     Intel   NASDAQ   INTC          Semiconductor industry  1999-11-01                                    NaN           0.57%
16         Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry  1997-03-17                                    NaN           3.43%
17            JPMorgan Chase     NYSE    JPM              Financial services  1991-05-06                                    NaN           2.61%
18                McDonald's     NYSE    MCD                   Food industry  1985-10-30                                    NaN           5.24%
19                     Merck     NYSE    MRK         Pharmaceutical industry  1979-06-29                                    NaN           2.10%
20                 Microsoft   NASDAQ   MSFT          Information technology  1999-11-01                                    NaN           4.88%
21                      Nike     NYSE    NKE               Clothing industry  2013-09-20                                    NaN           2.13%
22          Procter & Gamble     NYSE     PG      Fast-moving consumer goods  1932-05-26                                    NaN           2.86%
23                Salesforce     NYSE    CRM          Information technology  2020-08-31                                    NaN           2.82%
24                 Travelers     NYSE    TRV                       Insurance  2009-06-08                                    NaN           3.62%
25        UnitedHealth Group     NYSE    UNH             Managed health care  2012-09-24                                    NaN          10.29%
26                   Verizon     NYSE     VZ     Telecommunications industry  2004-04-08                                    NaN           0.73%
27                      Visa     NYSE      V              Financial services  2013-09-20                                    NaN           4.16%
28  Walgreens Boots Alliance   NASDAQ    WBA                       Retailing  2018-06-26                                    NaN           0.79%
29                   Walmart     NYSE    WMT                       Retailing  1997-03-17                                    NaN           2.94%

In [5]:
# Now get the list of stock symbols:
dow_stocks = list(dow[1]['Symbol'])
dow_company_name = list(dow[1]['Company'])
dow_stocks[:5]

['MMM', 'AXP', 'AMGN', 'AAPL', 'BA']

In [6]:
dow_company_name[:5]

['3M', 'American Express', 'Amgen', 'Apple', 'Boeing']

In [7]:
# If you wanted to download direct from yahoo finance:
######################################################

# Use comprehension to fetch data for multiple fields
dow_ohlc = {symbol: yf.download(symbol, start='2010-01-01', end='2022-05-31', auto_adjust=True, progress=False) for symbol in dow_stocks}

# Save dow_ohlc dict for future use
np.save('./dow_ohlc.npy', dow_ohlc)

In [9]:
# get the open close high low data:

ohlc = np.load('./dow_ohlc.npy', allow_pickle = True).item()
ohlc['MMM'].head()

                 Open       High        Low      Close   Volume
Date
2010-01-04  55.903347  56.145557  55.620770  55.856251  3043700
2010-01-05  55.708252  55.997559  54.968163  55.506409  2847000
2010-01-06  56.434852  56.919272  56.185918  56.293564  5268500
2010-01-07  56.058098  56.354133  55.250734  56.333950  4470100
2010-01-08  56.307057  56.730923  56.044664  56.730923  3405800

In [10]:
for symbol in dow_stocks:
  high = ohlc[symbol]['High']
  low = ohlc[symbol]['Low']
  close = ohlc[symbol]['Close']

  # not entirely clear what 'atr' is - "Average true Range" it seems.  It's a volatility thing
  ohlc[symbol]['ATR'] = ta.atr(high, low, close)

In [14]:
ohlc['MMM'].head()

# We'll have to sort out these NaNs later

                 Open       High        Low      Close   Volume  ATR
Date
2010-01-04  55.903347  56.145557  55.620770  55.856251  3043700  NaN
2010-01-05  55.708252  55.997559  54.968163  55.506409  2847000  NaN
2010-01-06  56.434852  56.919272  56.185918  56.293564  5268500  NaN
2010-01-07  56.058098  56.354133  55.250734  56.333950  4470100  NaN
2010-01-08  56.307057  56.730923  56.044664  56.730923  3405800  NaN

In [16]:
# returns

stock_price = pd.DataFrame(
    {symbol: ohlc[symbol]['Close']
    for symbol
    in dow_stocks}
)

stock_ret = stock_price.resample('W-FRI').last().pct_change()

stock_ret.head()

                 MMM       AXP      AMGN      AAPL        BA       CAT       CVX      CSCO        KO       DIS  DOW        GS        HD       HON       IBM      INTC       JNJ       JPM       MCD       MRK      MSFT       NKE        PG       CRM       TRV       UNH        VZ         V       WBA       WMT
Date
2010-01-08       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2010-01-15 -0.011267  0.010489 -0.009159 -0.028540 -0.012663  0.003151 -0.003020 -0.010544  0.020671 -0.040150  NaN -0.052206 -0.014148  0.012108  0.007107 -0.001440  0.005451 -0.022382  0.007115  0.046950  0.006523 -0.020238  0.006287 -0.074444  0.004737  0.032110 -0.036850 -0.009885 -0.010543  0.006563
2010-01-22 -0.022670 -0.089644  0.006222 -0.039722 -0.050148 -0.097638 -0.058563 -0.058606 -0.036418 -0.020261  NaN -0.067126 -0.029751 -0.064509 -0.047655 -0.042788 -0.021066 -0.103480  0.017823 -0.015201 -0.061568 -0.021897 -0.001266 -0.059595 -0.009838 -0.017482 -0.007849 -0.039587 -0.016667 -0.013785
2010-01-29 -0.012151 -0.024099  0.033216 -0.028774  0.048987 -0.037050 -0.033114 -0.021768  0.000184 -0.014343  NaN -0.035038  0.010461 -0.031093 -0.024781 -0.025615 -0.005380 -0.005617 -0.015144 -0.017752 -0.026934  0.012226  0.020561 -0.015339  0.048851 -0.004824 -0.030323 -0.008461  0.001667  0.009256
2010-02-05 -0.024226  0.005045 -0.013680  0.017703 -0.029724 -0.009380 -0.013034  0.054739 -0.021383 -0.000338  NaN  0.036579 -0.001071 -0.030279  0.009233  0.011636 -0.003500 -0.016436  0.015057 -0.037978 -0.005678 -0.032157 -0.004062 -0.023131 -0.007697 -0.013940 -0.023114  0.006461 -0.076006  0.000374

In [17]:
stock_ret.isnull().sum()

MMM       1
AXP       1
AMGN      1
AAPL      1
BA        1
CAT       1
CVX       1
CSCO      1
KO        1
DIS       1
DOW     481
GS        1
HD        1
HON       1
IBM       1
INTC      1
JNJ       1
JPM       1
MCD       1
MRK       1
MSFT      1
NKE       1
PG        1
CRM       1
TRV       1
UNH       1
VZ        1
V         1
WBA       1
WMT       1
dtype: int64